.row
  .large-12.columns
    %h3 About PlayWithYourMind.com

    %p
      PlayWithYourMind.com offers over 100 different online games and puzzles for your brain. We have
      = succeed "," do
        %a{:href => "http://playwithyourmind.com/brain-games/online-brain-games/word-games/"} word games
      = succeed "," do
        %a{:href => "http://playwithyourmind.com/brain-games/online-brain-games/logic-puzzles/"} logic puzzles
      = succeed "," do
        %a{:href => "http://playwithyourmind.com/brain-games/memory-workout-program/"} memory exercises
      = succeed "," do
        %a{:href => "http://playwithyourmind.com/brain-games/puzzles-brainteasers/"} brainteasers
      %a{:href => "http://brainball.playwithyourmind.com/"} iq tests
      and various other
      = succeed "." do
        %a{:href => "http://playwithyourmind.com/brain-games/online-brain-games/"} mind games
      While most game sites are one and the same - just collections of the same online games - all the content here is unique to this site.  Whether you are searching for a challenging diversion, eager for some rigorous mental competition, or just looking for a way to improve your brain fitness, PlayWithYourMind.com has what you need.
    %h2
      %a{:href => "http://playwithyourmind.com/brain-games/online-brain-games/"} Mind Games & Brain Puzzles
    %div{:style => "width:23%; float:left;"}
      %a{:href => "http://playwithyourmind.com/brain-games/online-brain-games/"}
        %img{:alt => "Online Mind Games", :src => "images/online_mind_games.jpg", :title => "Play online mind games and brain puzzles"}/
    %div{:style => "width:75%; float:left;"}
      This is the largest section of the site with over 50 different online games ranging from word games, logic puzzles & memory tests to
      = succeed "," do
        %a{:href => "http://playwithyourmind.com/brain-games/online-brain-games/typing-games/"} typing games
      %a{:href => "http://playwithyourmind.com/brain-games/online-brain-games/math-games/"} math puzzles
      and
      = succeed "." do
        %a{:href => "http://playwithyourmind.com/brain-games/online-brain-games/search-games/"} search challenges
      Each game is equipped with high score boards and our special
      %a{:href => "http://playwithyourmind.com/about-game-iqs/"} IQ rating system.
    .clear
    %h2
      %a{:href => "http://playwithyourmind.com/brain-games/online-brain-exercises/"} Mind Exercises / Brain Fitness Program
    %div{:style => "width:23%; float:left;"}
      %a{:href => "http://playwithyourmind.com/brain-games/online-brain-exercises/"}
        %img{:alt => "Brain Fitness Program", :src => "images/brain_fitness.jpg", :title => "Train your brain at our brain gym"}/
    %div{:style => "width:75%; float:left;"}
      Common sense suggests that our mind follows the doctrine "use it or lose it" and recent research has corroborated this intuition.  We have the abilities to strengthen / retain our mental faculties through regular brain exercise, so this is the focus of the
      %a{:href => "http://playwithyourmind.com/brain-fitness-news/brain-fitness-programs-and-websites/"} brain fitness industry
      and the games in this section.  Exercise your memory, attention, visual processing skills and more in our version of a
      = succeed "." do
        %a{:href => "http://playwithyourmind.com/brain-gym/"} brain gym
    .clear
    %h2
      %a{:href => "daily-games/"} Daily Games / Mind Sports
    %div{:style => "width:23%; float:left;"}
      %a{:href => "daily-games/"}
        %img{:alt => "Daily Mind Games", :src => "images/daily_games.jpg", :title => "Compete against others in daily brain tests"}
    %div{:style => "width:75%; float:left;"}
      Coming soon.
    %br
    %h2
      %a{:href => "http://playwithyourmind.com/brain-games/puzzles-brainteasers/"} Weekly Puzzles & Brainteasers
    %div{:style => "width:23%; float:left;"}
      %a{:href => "http://playwithyourmind.com/brain-games/puzzles-brainteasers/"}
        %img{:alt => "Weekly Puzzles & Brainteasers", :src => "images/puzzles_brainteasers.jpg", :title => "Compete against others in daily brain tests"}
    %div{:style => "width:75%; float:left;"} Unlike the rest of the online games on this site, these are more like your traditional newspaper puzzles.  They are one-time challenges designed to be done in your head or worked out on a piece of paper.  New puzzles are added each week.
    .clear
    %h2
      %a{:href => "http://playwithyourmind.com/brain-games/memory-workout-program/"} Memory Workout Program
    %div{:style => "width:23%; float:left;"}
      %a{:href => "http://playwithyourmind.com/brain-games/memory-workout-program/"}
        %img{:alt => "Improve Your Memory", :src => "images/memory_exercise.jpg", :title => "Sharpen your memory with the exercises in our memory workout program"}/
    %div{:style => "width:75%; float:left;"} The Memory Program is devoted specifically to games and exercises designed to improve your memory.  There are 10 different games in this section, each of which targets a different aspect of your memory - short-term, procedural, iconic & more as you work with pictures, names, shapes, sounds, words, numbers, colors, time and space.