-content_for :head do
  %title #{@game.title} | A Free Online Brain Game | Play With Your Mind
  %meta{:content => "#{@game.title} | A Free Online Brain Game", :property => "og:title"}
  %meta{:content => "PlayWithYourMind | Brain Games & Mind Puzzles", :property => "og:site_name"}
  %meta{:content => image_url('screenshots/'+@game.title+'.gif'), :property => "og:image"}
  %meta{:content => @game.description, :property => "og:description"}
  %meta{:content => "#{@game.title} | A Free Online Brain Game", :property => "twitter:title"}
  %meta{:content => "PlayWithYourMind | Brain Games & Mind Puzzles", :property => "twitter:site"}
  %meta{:content => image_url('screenshots/'+@game.title+'.gif'), :property => "twitter:image"}
  %meta{:content => @game.description, :property => "twitter:description"}
  %meta{:content => "summary", :property => "twitter:card"}
  %meta{:content => "#{@game.title} | A Free Online Brain Game", :property => "title"}
  %meta{:property => "description", :content => @game.description}
.row
  .large-12.columns
    %h4
      =link_to 'Games', '/brain-games/'
      >
      =link_to @category.title, '/brain-games/'+@category.slug
    %h3=@game.title
    %p=@game.description
    %object{:data => video_url('games/'+@game.title+'.swf'), :height => "460",:width => "600", :type => "application/x-shockwave-flash"}
      %param{:name => "movie", :value => video_url('games/'+@game.title+'.swf')}/
      %param{:name => "quality", :value => "high"}/
    #instructions
      %h3 Game Instructions

:javascript
  var inst_url = '/game-instructions/#{@game.title.gsub(' ','')}.xml';
  console.log(inst_url);
  $.ajax({
    type: "GET",
    url: inst_url,
    dataType: "xml",
    success: function(xml) {

      files = $(xml);
      console.log(files);
      files.find('instructions').each(function() {
        txt = $(this).text();
        html = '<p>'+txt+'</p>';
        $('#instructions').append(html);
      });
    }
  });
