.row
  .large-12.columns
    #game-lobby
      %h3 time to play
      .row
        .large-8.columns
          #check-in-message
            -if @enrollment_status == 'enrolled'
              In order to play, you must confirm your presence by checking in
              =link_to 'Check In', check_into_match_path(@match), :method => :post, :remote => :true, :class=>'button'
          #game-content
            =render :partial => 'welcome'
        .large-4.columns
          #round-timer
          #entries
            -if ['active','countdown'].include?(@match.status)
              =render :partial => 'entries/active_entry', :collection => @entries, :as => :entry
            -elsif ['playing','complete','scoring'].include?(@match.status)
              =render :partial => 'entries/entry_with_score', :collection => @entries, :as => :entry
:javascript
  var int;
  var match_id = parseInt('#{@match.id}');
  var playing;
  var time_to_play;
  var next_round_timer;
  var countdown_timer;
  var round_timer;
  var round_time;
  var next_round_time;
  var scoreboard_timer;
  var game_id;


  checkMatchStatus();
  int = setInterval(checkMatchStatus, 15000);
  function checkMatchStatus() {
    $.get('#{refresh_match_path(@match)}', function(data) {
      $('#game-content').html("#{escape_javascript render :partial=>'countdown'}");
      if(data.match_status=='countdown') {
        time_to_play = parseInt(data.match_time);
        countdown_timer=setInterval(countdown, 1000);
        clearInterval(int);
      }
    });
  }
  function refreshMatchStatus() {
    $.get('#{refresh_match_path(@match)}', function(data) {
      if(data.match_status=='playing') {
        clearInterval(int);
        clearInterval(countdown_timer);
        loadGame();
      }
    });
  }
  function refreshScoreboard() {
    $.get('#{refresh_scoreboard_match_path(@match)}');
  }
  function loadGame() {
    playing=true;
    $('#game-content').html('lets play!');
    $.get('#{load_game_match_path(@match)}');

  }

  function beginRoundCountdown() {
    next_round_timer = setInterval(roundCountdown, 1000);
    round_timer = setInterval(timer, 1000);
  }

  function countdown() {
    time_to_play--;
    if(time_to_play == 0) {
      clearInterval(countdown_timer);
      int = setInterval(refreshMatchStatus,5000);
    }
    else {
      $('#game-content').html("your game will begin in "+time_to_play+" seconds...");
    }
  }

  function roundCountdown() {
    next_round_time--;
    $('#round-timer').html(next_round_time);
    if(next_round_time == 0) {
      clearInterval(next_round_timer);
      clearInterval(scoreboard_timer);
      loadGame();
      refreshScoreboard();
    }
  }


  $(document).on('click','#submit',function() {
    complete();

  });

  function timer() {
    round_time -= 1;
    $('#timer').html(round_time);
    if(round_time == 0) {
      complete();
    }
  }


  function complete() {
    clearInterval(round_timer);
    refreshScoreboard();
    scoreboard_timer = setInterval(refreshScoreboard,15000);
    $.post('#{round_scores_path}',{game_id:game_id, match_id: match_id, score: Math.random()*1000}, function(data) {
      if(data.success == "true") {
        showRoundComplete();
      }
    });
  }

  function showRoundComplete() {
    $('#game-content').html("#{j render :partial=>'matches/round_complete'}");
  }