-content_for :head do
  %title #{@game.title} | A Free Online Brain Game | Play With Your Mind
  %meta{:content => "#{@game.title} | A Free Online Brain Game", :property => "og:title"}
  %meta{:content => "PlayWithYourMind | Brain Games & Mind Puzzles", :property => "og:site_name"}
  %meta{:content => image_url('screenshots/'+@game.title+'.gif'), :property => "og:image"}
  %meta{:content => @game.description, :property => "og:description"}
  %meta{:content => "#{@game.title} | A Free Online Brain Game", :property => "twitter:title"}
  %meta{:content => "PlayWithYourMind | Brain Games & Mind Puzzles", :property => "twitter:site"}
  %meta{:content => image_url('screenshots/'+@game.title+'.gif'), :property => "twitter:image"}
  %meta{:content => @game.description, :property => "twitter:description"}
  %meta{:content => "summary", :property => "twitter:card"}
  %meta{:content => "#{@game.title} | A Free Online Brain Game", :property => "title"}
  %meta{:property => "description", :content => @game.description}
.row
  .large-12.columns
    %h4
      =link_to 'Brain Training Games', '/brain-fitness-games/'
      >
      =link_to @category.title, '/brain-fitness-games/'+@category.slug
    %h3=@game.title

    %object{:data => video_url('mind-exercises/'+@game.title+'.swf'), :height => "550",:width => "600", :type => "application/x-shockwave-flash"}
      %param{:name => "movie", :value => video_url('mind-exercises/'+@game.title+'.swf')}/
      %param{:name => "quality", :value => "high"}/
    %p=@game.description
    #comments{:style=>'margin-top: 25px;'}
      %h6 Comments
      .comments
        = render :partial => 'comments/comment', :collection => @comments, :as => :comment
      -if user_signed_in?
        = render :partial => 'comments/form', :locals => { :comment => @new_comment }