!!! 5
%html{ :lang => "en"}
  %head{:prefix => "og: http://ogp.me/ns#"}
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = favicon_link_tag "favicon.ico"
    = csrf_meta_tag
    =yield :head


  %body
    =render :partial => 'shared/head'
    .row
      #sidebar
        %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
        / pwym left banner, created 1/16/09
        %ins.adsbygoogle{"data-ad-client" => "ca-pub-1203319491225179", "data-ad-slot" => "1668646726", :style => "display:inline-block;width:160px;height:600px"}
        :javascript
          (adsbygoogle = window.adsbygoogle || []).push({});
      #content
        = yield
    =render :partial => 'shared/footer'

